.font-orange {
  color: $orange;
}

.font-green {
  color: $green;
}

.font-white {
  color: $white;
}

.font-blue {
  color: $blue;
}

.font-bold {
  font-weight: bold;
}

.font-primary {
  font-size: 1.5rem;
}

.font-secondary {
  font-size: 1rem;
}

.font-small {
  font-size: 0.8rem;
}

.font-underline {
  text-decoration: underline;
}

.font-rob {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}
.font-ral {
  font-family: "Raleway", sans-serif;
}
