.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.submit-button {
  color: $orange;
  border: 1px solid $orange;
  padding: 0.8rem 2rem;
  margin-bottom: 2rem;
  width: 12rem;
  text-align: center;
  cursor: pointer;
  &:hover,
  &.signedUp {
    color: $light-blue;
    background: $orange;
  }
  &.dark {
    border: 1px solid $blue;
    color: $blue;
    &:hover {
      color: $middlegrey;
      background: $blue;
    }
  }
  &.small {
    width: 6rem;
  }
}
.btn-wrapper {
  margin-top: 2rem;
  .end-btn {
    // width: 90px !important;
    background-color: rgba(180, 180, 180, 0.4);
    span {
      letter-spacing: 0.1rem;
      font-weight: 700;
    }
    &:hover {
      transition: ease-in 0.4;
      background-color: $middlegrey;
      color: white;
    }
  }
}
