$orange: #e8927c;
$light-orange: #ecc3b2;

$green: #9caf88;
$light-green: #bfcc80;

$blue: #8db9ca;
$light-blue: #b9d3dc;

$gold: #ffc72c;
$light-gold: #f8e08e;
$light-gold-opa: rgba(248, 223, 140, 0.9);

$black: #000000;
$darkgrey: #1a1a1a;
$middlegrey: #555555;
$light-grey: #c1c1c1;

$white: #fff;
$sub-white: #f5f5f5;
