.d-flex {
  display: flex;
}
.d-block {
  display: block;
}

.display-none {
  display: none;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-grow {
  flex-grow: 1;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row {
  flex-direction: row;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.object-fit-cover {
  object-fit: cover;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-fix {
  position: fixed;
}
.position-sticky {
  position: sticky;
}
