.landing-page {
  background-color: $light-orange;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .landing-title {
    font-weight: 800;
    font-size: 2rem;
    height: 18%;
  }

  .login-button {
    border: 1px solid $middlegrey;
    margin-bottom: 2rem;
    width: 12rem;
    height: 3.6rem;
    line-height: 3.6rem;
    text-align: center;
    cursor: pointer;
    color: $middlegrey;
    // position: absolute;
    // top: 8rem;
    // right: 10rem;
    &:hover {
      color: $light-orange;
      background: $middlegrey;
    }
    &:focus {
      outline: none;
    }
  }
}
